* {
    box-sizing: border-box;
}
body {
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwfnKLVo2qWAoWHpLsIPZS1pAhjsNbnhi2gLoyY-B_JuWKuQXr&s);
}
.toparea {
    /* Box-model */
    width: 100%;
  
    /* Positioning */
    background: white;
    padding: 0px 40px 116px 40px ;
    margin-bottom: 30px;
  
}
#name {
    /* Positioning */
    float: left;
  padding: 30px;
  padding-right: 0;
    /* Visual */
    background: rgb(91,192,222);
    width: 300px;
    color: white;
  }

  #navigation {
    
    float: right;
    padding: 38px 0px;
    padding-left: 700px;
    
        /* Visual */
    background: white;
    /* width: 1059px; */
    
  }
.nav-link {
    color: grey;
}

    
}
.contenttitle h1 {
    border-bottom: black 1px solid;
    color: rgb(91,192,222);
}
.portholder {
    background: white;
    margin: 40px 40px;
}


footer {
    border-top: 10px solid rgb(91,192,222);
    background: grey;
    height: 100px;
    text-align: center;
    padding-top: 45px;
    color: white;
    
}


  
  
  

@media screen and (max-width: 640px) {

   
    .toparea {
        margin: 10px 0;
        padding: 0;
        width: 100%;
        
        
    }
    #name {
    width: 640px;
    text-align: center;
    
    }
    #navigation {
     width: 100%;
     margin: 0;
     padding: 10px;
     margin-bottom: 30px;
     
    }

    /* .wrapper {
        border: 0;
        padding: 20px;
        margin: 0 30px;
        padding-top: 200px;
        
    } */
    .contenttitle {
        margin: 20px 40px;
    }
    .portholder {
        margin: 0 40px 20px 40px;
        display: inline-block;
        width: 560px;

    }
    .contenttitle h1 {
        border-bottom: black 1px solid;
        color: rgb(91,192,222);
        padding-bottom: 20px;
        
    }
    .row {
        display: inline-block;
        
    }
    .row img {
        margin: 10px 100px 20px 100px;
        padding: 10px 100px 20px 100px;
    }
    .info {
        margin: 0 40px;
    }
    form {
        margin: 10px 40px;
    }
    
    .headshot {
        padding-left: 80px;
    }
   footer {
       margin-top: 40px;
       padding-bottom: 30px;
   }

}
@media screen and (max-width: 768px) {

    .toparea {
        margin: 0;
        
        width: 100%;
        background: white;
        
        
    }
    #name {
        margin-left: 30px;
        width: 300px;
    
    
    }
    #navigation {
     
     float: right; 
     padding: 30px 20px 0 0;
     margin: 0;
     
     width: 320px;
    }
    .contenttitle {
        margin: 20px 40px;
    }
    .portholder {
        margin: 20px 50px 20px 80px;
        display: inline-block;
        width: 600px;

    }
    .headshot {
        padding-left: 80px;
        margin-left: 20px;
    }
    .info {
        margin: 0 40px;
    }
    .contenttitle h1 {
        border-bottom: black 1px solid;
        color: rgb(91,192,222);
        padding-bottom: 20px;
        
}

   