* {
    box-sizing: border-box;
}
body {
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwfnKLVo2qWAoWHpLsIPZS1pAhjsNbnhi2gLoyY-B_JuWKuQXr&s);
}
.toparea {
    /* Box-model */
    width: 100%;
  
    /* Positioning */
    background: white;
    padding: 0px 40px 116px 40px ;
    margin-bottom: 30px;
  
}
#name {
    /* Positioning */
    float: left;
  padding: 30px;
  padding-right: 0;
    /* Visual */
    background: rgb(91,192,222);
    width: 300px;
  }

  #navigation {
    
    float: right;
    padding: 38px 0px;
    padding-left: 700px;
    
        /* Visual */
    background: white;
    /* width: 1059px; */
    
  }

.wrapper {
    /* justify-content: center; */
    background: white;
    margin: 20px 40px;
    padding: 40px 40px;
    
}
.contenttitle h1 {
    border-bottom: black 1px solid;
}
.portholder {
    background: white;
    margin: 40px 40px;
}

footer {
    border-top: 10px solid rgb(91,192,222);
    background: grey;
    height: 100px;
    text-align: center;
    padding-top: 45px;
    color: white;
    
}


  
  
  

@media screen and (max-width: 640px) {

   
    .toparea {
        margin: 10px 0;
        padding: 0;
        width: 100%;
        
        
    }
    #name {
    width: 640px;
    text-align: center;
    
    }
    #navigation {
     width: 100%;
     margin: 0;
     padding: 10px;
     margin-bottom: 30px;
     
    }

    .wrapper {
        border: 0;
        padding: 20px;
        margin: 0 30px;
        padding-top: 200px;
        
    }
    .contenttitle h1{
        
    }
    .headshot {
        padding-left: 125px;
    }
   footer {
       margin-top: 40px;
       padding-bottom: 30px;
   }
}


   